.add-msg-ctn {
  padding: 20px 15px;
  border-radius: 10px;
  background-color: white;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

  .close {
    text-align: right;
    width: 100%;
  }

  .text {
    margin: 10px;
  }

  .pram-ctn {
    color: #1777ff;

    .item-label {
      margin-right: 20px;
    }

    .item-color {
      margin: 0px 10px;
    }

    .color {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid;
    }
  }
}