.page-ctn {
  display: flex;
  flex-direction: column;
  height: 100%;

  .article-ctn {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;

    .preview {
      img {
        max-width: 90%;
      }
    }



    .editor {
      height: 200px;
      width: calc(100% - 20px);
    }
  }
}