@import '../../theme/custom_theme.scss';

.a {
  background-color: $loading-background-color;
  text-align: center;
  width: 9.375rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  color: $white;
  font-size: $text-font-size;
  box-sizing: border-box;
  z-index: 1000;

  .loading {
    margin-top: 0.5rem;
  }
}
